# 기상데이터 추가
- 기상개황 
- 공공데이터 포털
- 2018~2021

In [29]:
import pandas as pd
import numpy as np
from IPython.display import display

In [30]:
weather = pd.read_excel('./externals/공공_데이터_포털/기상개황_20231204115303.xlsx')
weather.head()

/home/sdk/miniconda3/envs/MathAI/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,월별(1),2018,2018.1,2018.2,2018.3,2018.4,2018.5,2018.6,2018.7,2018.8,...,2021.6,2021.7,2021.8,2021.9,2021.10,2021.11,2021.12,2021.13,2021.14,2021.15
0,월별(1),평균기온 (℃),평균최고기온 (℃),최고극값기온 (℃),평균최저기온 (℃),최저극값기온 (℃),강수량 (mm),평균상대습도 (%),최소상대습도 (%),평균해면기압 (hPa),...,평균상대습도 (%),최소상대습도 (%),평균해면기압 (hPa),이슬점온도 (℃),평균운량 (1/10),일조시간 (시간),최심신적설 (㎝),평균풍속 (m/s),최대풍속 (m/s),최대순간풍속 (m/s)
1,합계,14.1,19.6,39.2,9.2,-13.9,1297.6,59,8,1016.6,...,65,35,1016.5,7.5,5,2380.7,1.7,2.3,10.6,17
2,1월,-0.9,4,13.2,-5.2,-13.9,21.1,49,11,1023.2,...,58,41,1024.3,-7.3,3.9,203.1,0.7,2.5,10.4,17
3,2월,1.3,7.1,15,-4.2,-10.9,25.1,40,8,1022.5,...,59,39,1020.8,-3.2,3.6,207.8,-,2.7,10.6,15.2
4,3월,9.2,15.6,25.9,3.3,-2.8,98.7,60,11,1020,...,69,46,1019.6,4,5,204,1.7,2.4,8.7,13.4

In [31]:
weather = weather.drop([1])
weather

,월별(1),2018,2018.1,2018.2,2018.3,2018.4,2018.5,2018.6,2018.7,2018.8,...,2021.6,2021.7,2021.8,2021.9,2021.10,2021.11,2021.12,2021.13,2021.14,2021.15
0,월별(1),평균기온 (℃),평균최고기온 (℃),최고극값기온 (℃),평균최저기온 (℃),최저극값기온 (℃),강수량 (mm),평균상대습도 (%),최소상대습도 (%),평균해면기압 (hPa),...,평균상대습도 (%),최소상대습도 (%),평균해면기압 (hPa),이슬점온도 (℃),평균운량 (1/10),일조시간 (시간),최심신적설 (㎝),평균풍속 (m/s),최대풍속 (m/s),최대순간풍속 (m/s)
2,1월,-0.9,4,13.2,-5.2,-13.9,21.1,49,11,1023.2,...,58,41,1024.3,-7.3,3.9,203.1,0.7,2.5,10.4,17
3,2월,1.3,7.1,15,-4.2,-10.9,25.1,40,8,1022.5,...,59,39,1020.8,-3.2,3.6,207.8,-,2.7,10.6,15.2
4,3월,9.2,15.6,25.9,3.3,-2.8,98.7,60,11,1020,...,69,46,1019.6,4,5,204,1.7,2.4,8.7,13.4
5,4월,15,21.4,32,8.9,0.5,113,52,9,1015.5,...,61,40,1018.5,6.2,4.9,247,-,2.9,8.9,12.9
6,5월,19.2,24.8,32,14.2,7.2,99.7,62,12,1011.6,...,62,39,1009.3,9.8,5.9,209.9,-,2.5,8.9,13
7,6월,23.6,28.7,35.3,18.7,13.7,121.1,60,17,1008,...,64,40,1008.2,15.2,6.6,185.4,-,2.3,7.3,10.3
8,7월,28.2,33.1,39.2,24,17.6,169.6,66,24,1008.6,...,69,45,1008.7,20,6.7,216.1,-,2.1,6.7,10.2
9,8월,27.7,32.9,38.7,23.7,18.4,334.2,68,28,1007.8,...,74,48,1008.8,20.1,7.2,130.7,-,1.6,7,0.9
10,9월,21,25.4,30.4,17.2,10.4,109,71,17,1013.3,...,76,53,1014.1,17.1,6.7,128.4,-,2,7.6,11.3
11,10월,14.3,20,25.8,9.3,2.8,165.1,63,12,1018.4,...,72,43,1021.2,10.7,4.3,217.6,-,1.5,6.8,10.1
12,11월,8.8,15.2,21.2,3.3,-2.7,17.2,63,13,1023.3,...,64,37,1019.7,2.2,3.1,208.6,-,2,10.3,13.2
13,12월,2,7,16.1,-2.3,-8.8,23.8,50,8,1026.4,...,57,35,1024.4,-5.4,2.6,222.1,-,2.5,10.6,15.2

In [32]:
weather.columns = weather.iloc[0]
weather

,월별(1),평균기온 (℃),평균최고기온 (℃),최고극값기온 (℃),평균최저기온 (℃),최저극값기온 (℃),강수량 (mm),평균상대습도 (%),최소상대습도 (%),평균해면기압 (hPa),...,평균상대습도 (%),최소상대습도 (%),평균해면기압 (hPa),이슬점온도 (℃),평균운량 (1/10),일조시간 (시간),최심신적설 (㎝),평균풍속 (m/s),최대풍속 (m/s),최대순간풍속 (m/s)
0,월별(1),평균기온 (℃),평균최고기온 (℃),최고극값기온 (℃),평균최저기온 (℃),최저극값기온 (℃),강수량 (mm),평균상대습도 (%),최소상대습도 (%),평균해면기압 (hPa),...,평균상대습도 (%),최소상대습도 (%),평균해면기압 (hPa),이슬점온도 (℃),평균운량 (1/10),일조시간 (시간),최심신적설 (㎝),평균풍속 (m/s),최대풍속 (m/s),최대순간풍속 (m/s)
2,1월,-0.9,4,13.2,-5.2,-13.9,21.1,49,11,1023.2,...,58,41,1024.3,-7.3,3.9,203.1,0.7,2.5,10.4,17
3,2월,1.3,7.1,15,-4.2,-10.9,25.1,40,8,1022.5,...,59,39,1020.8,-3.2,3.6,207.8,-,2.7,10.6,15.2
4,3월,9.2,15.6,25.9,3.3,-2.8,98.7,60,11,1020,...,69,46,1019.6,4,5,204,1.7,2.4,8.7,13.4
5,4월,15,21.4,32,8.9,0.5,113,52,9,1015.5,...,61,40,1018.5,6.2,4.9,247,-,2.9,8.9,12.9
6,5월,19.2,24.8,32,14.2,7.2,99.7,62,12,1011.6,...,62,39,1009.3,9.8,5.9,209.9,-,2.5,8.9,13
7,6월,23.6,28.7,35.3,18.7,13.7,121.1,60,17,1008,...,64,40,1008.2,15.2,6.6,185.4,-,2.3,7.3,10.3
8,7월,28.2,33.1,39.2,24,17.6,169.6,66,24,1008.6,...,69,45,1008.7,20,6.7,216.1,-,2.1,6.7,10.2
9,8월,27.7,32.9,38.7,23.7,18.4,334.2,68,28,1007.8,...,74,48,1008.8,20.1,7.2,130.7,-,1.6,7,0.9
10,9월,21,25.4,30.4,17.2,10.4,109,71,17,1013.3,...,76,53,1014.1,17.1,6.7,128.4,-,2,7.6,11.3
11,10월,14.3,20,25.8,9.3,2.8,165.1,63,12,1018.4,...,72,43,1021.2,10.7,4.3,217.6,-,1.5,6.8,10.1
12,11월,8.8,15.2,21.2,3.3,-2.7,17.2,63,13,1023.3,...,64,37,1019.7,2.2,3.1,208.6,-,2,10.3,13.2
13,12월,2,7,16.1,-2.3,-8.8,23.8,50,8,1026.4,...,57,35,1024.4,-5.4,2.6,222.1,-,2.5,10.6,15.2

In [33]:
weather = weather.drop(0).reset_index(drop=True).T
weather.columns = '1월 2월 3월 4월 5월 6월 7월 8월 9월 10월 11월 12월'.split()
weather

,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,,,,,,,,,,,,
월별(1),1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
평균기온 (℃),-0.9,1.3,9.2,15,19.2,23.6,28.2,27.7,21,14.3,8.8,2
평균최고기온 (℃),4,7.1,15.6,21.4,24.8,28.7,33.1,32.9,25.4,20,15.2,7
최고극값기온 (℃),13.2,15,25.9,32,32,35.3,39.2,38.7,30.4,25.8,21.2,16.1
평균최저기온 (℃),-5.2,-4.2,3.3,8.9,14.2,18.7,24,23.7,17.2,9.3,3.3,-2.3
...,...,...,...,...,...,...,...,...,...,...,...,...
일조시간 (시간),203.1,207.8,204,247,209.9,185.4,216.1,130.7,128.4,217.6,208.6,222.1
최심신적설 (㎝),0.7,-,1.7,-,-,-,-,-,-,-,-,-
평균풍속 (m/s),2.5,2.7,2.4,2.9,2.5,2.3,2.1,1.6,2,1.5,2,2.5
최대풍속 (m/s),10.4,10.6,8.7,8.9,8.9,7.3,6.7,7,7.6,6.8,10.3,10.6
최대순간풍속 (m/s),17,15.2,13.4,12.9,13,10.3,10.2,0.9,11.3,10.1,13.2,15.2

In [38]:
weather = weather.reset_index()
weather

,0,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,월별(1),1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
1,평균기온 (℃),-0.9,1.3,9.2,15,19.2,23.6,28.2,27.7,21,14.3,8.8,2
2,평균최고기온 (℃),4,7.1,15.6,21.4,24.8,28.7,33.1,32.9,25.4,20,15.2,7
3,최고극값기온 (℃),13.2,15,25.9,32,32,35.3,39.2,38.7,30.4,25.8,21.2,16.1
4,평균최저기온 (℃),-5.2,-4.2,3.3,8.9,14.2,18.7,24,23.7,17.2,9.3,3.3,-2.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,일조시간 (시간),203.1,207.8,204,247,209.9,185.4,216.1,130.7,128.4,217.6,208.6,222.1
61,최심신적설 (㎝),0.7,-,1.7,-,-,-,-,-,-,-,-,-
62,평균풍속 (m/s),2.5,2.7,2.4,2.9,2.5,2.3,2.1,1.6,2,1.5,2,2.5
63,최대풍속 (m/s),10.4,10.6,8.7,8.9,8.9,7.3,6.7,7,7.6,6.8,10.3,10.6
64,최대순간풍속 (m/s),17,15.2,13.4,12.9,13,10.3,10.2,0.9,11.3,10.1,13.2,15.2

In [54]:
weather = weather.map(lambda x: np.nan if x == '-' or x =='...' else x).dropna().drop(0).set_index(0).map(float).reset_index().groupby([0]).mean().T.drop(columns=[
  '평균해면기압 (hPa)', '최고극값기온 (℃)', '최대순간풍속 (m/s)', '최소상대습도 (%)', '최저극값기온 (℃)', '평균풍속 (m/s)'
])
weather

,강수량 (mm),이슬점온도 (℃),일조시간 (시간),최대풍속 (m/s),평균기온 (℃),평균상대습도 (%),평균운량 (1/10),평균최고기온 (℃),평균최저기온 (℃)
1월,28.225,-8.250,190.266667,9.175,1.275,53.00,4.125,6.400,-3.225
2월,27.675,-6.700,207.400000,9.275,3.750,51.25,4.175,9.425,-1.375
3월,59.775,1.025,223.133333,9.575,9.575,60.00,4.475,15.750,3.800
4월,69.100,3.425,256.100000,8.875,13.900,54.50,4.600,20.100,8.050
5월,63.600,9.625,218.466667,8.725,19.400,58.75,5.550,25.575,13.650
6월,130.575,15.075,204.433333,7.475,23.525,63.00,6.050,29.050,18.675
7월,198.200,19.975,179.400000,7.375,26.025,72.50,6.850,30.500,22.350
8월,263.775,21.175,181.333333,7.275,27.350,71.75,6.350,32.225,23.650
9월,134.900,16.475,140.366667,8.450,21.725,74.75,6.650,26.200,18.025
10월,97.800,8.875,226.466667,7.825,15.750,67.50,4.275,21.500,10.775
11월,24.875,1.825,197.766667,8.850,9.450,63.00,3.550,15.625,4.125
12월,13.550,-6.575,207.133333,9.550,2.550,54.50,3.400,8.025,-2.125

In [55]:
weather.to_csv('../../main/data/origin/additionals/weather_overall_monthly.csv')