# 유동인구수를 구합니다.
- 법정동별 유동인구수

- 데이터 출처
  - 대구 빅데이터 활용 센터
  - 6-1. 통신사 유동인구 데이터
  - 2017 ~ 2018

## 저장 파일명
- moving_pop_by_days.csv
- moving_pop_by_age.csv
- moving_pop_by_time.csv

In [2]:
import pandas as pd
import numpy as np
import geopandas as gpd

In [3]:
moving_by_age = pd.read_csv('./externals/대구_빅데이터_활용센터/6_1_moving_by_age.csv', encoding='cp949', index_col=0)
moving_by_days = pd.read_csv('./externals/대구_빅데이터_활용센터/6_1_moving_by_days.csv', encoding='cp949', index_col=0)
moving_by_times = pd.read_csv('./externals/대구_빅데이터_활용센터/6_1_moving_by_times.csv', encoding='cp949', index_col=0)

In [4]:
moving_by_age.head()

,STD_YM,SGNG_NM,LDONG_NM,ADONG_NM,MAN_FLOW_POP_CNT_10G,MAN_FLOW_POP_CNT_10G.1,MAN_FLOW_POP_CNT_20G,MAN_FLOW_POP_CNT_20G.1,MAN_FLOW_POP_CNT_30G,MAN_FLOW_POP_CNT_30G.1,...,WMAN_FLOW_POP_CNT_20G,WMAN_FLOW_POP_CNT_20G.1,WMAN_FLOW_POP_CNT_30G,WMAN_FLOW_POP_CNT_30G.1,WMAN_FLOW_POP_CNT_40G,WMAN_FLOW_POP_CNT_40G.1,WMAN_FLOW_POP_CNT_50G,WMAN_FLOW_POP_CNT_50G.1,WMAN_FLOW_POP_CNT_60GU,WMAN_FLOW_POP_CNT_60GU.1
NaN,NaN,NaN,NaN,NaN,sum,count,sum,count,sum,count,...,sum,count,sum,count,sum,count,sum,count,sum,count
0.0,201701.0,남구,대명동,대명10동,837.33,201,3019.51,201,4379.05,201,...,2952.49,201,3193.58,201,3625.85,201,3809.27,201,2657.05,201
1.0,201701.0,남구,대명동,대명11동,914.48,227,2959.87,227,4353.57,227,...,2710.21,227,3210.23,227,3664.29,227,3950.78,227,2730.12,227
2.0,201701.0,남구,대명동,대명1동,601.57,193,1537.25,193,2258.53,193,...,1436.01,193,1808.26,193,1985.17,193,1820.28,193,1241.8700000000001,193
3.0,201701.0,남구,대명동,대명2동,1103.23,321,3272.91,321,4342.55,321,...,3308.98,321,3364.85,321,3754.84,321,3373.8,321,2896.05,321

In [5]:
moving_by_days.head()

,STD_YM,SGNG_NM,LDONG_NM,ADONG_NM,FLOW_POP_CNT_MON,FLOW_POP_CNT_MON.1,FLOW_POP_CNT_TUS,FLOW_POP_CNT_TUS.1,FLOW_POP_CNT_WED,FLOW_POP_CNT_WED.1,FLOW_POP_CNT_THU,FLOW_POP_CNT_THU.1,FLOW_POP_CNT_FRI,FLOW_POP_CNT_FRI.1,FLOW_POP_CNT_SAT,FLOW_POP_CNT_SAT.1,FLOW_POP_CNT_SUN,FLOW_POP_CNT_SUN.1
NaN,NaN,NaN,NaN,NaN,sum,count,sum,count,sum,count,sum,count,sum,count,sum,count,sum,count
0.0,201701.0,남구,대명동,대명10동,40623.61,201,39604.64,201,43504.25,201,40862.090000000004,201,38860.45,201,37693.17,201,31818.78,201
1.0,201701.0,남구,대명동,대명11동,39668.13,231,37833.41,231,41492.86,231,40143.77,231,38607.75,231,41759.93,231,35292.34,231
2.0,201701.0,남구,대명동,대명1동,20577.11,193,20005.86,193,21490.47,193,20889.07,193,19705.09,193,19587.86,193,16960.55,193
3.0,201701.0,남구,대명동,대명2동,42713.19,325,41302.62,325,44095.99,325,43894.35,325,39855.98,325,38859.46,325,30816.04,325

In [6]:
moving_by_times.head()

,STD_YM,SGNG_NM,LDONG_NM,ADONG_NM,TMST_00,TMST_00.1,TMST_01,TMST_01.1,TMST_02,TMST_02.1,...,TMST_19,TMST_19.1,TMST_20,TMST_20.1,TMST_21,TMST_21.1,TMST_22,TMST_22.1,TMST_23,TMST_23.1
NaN,NaN,NaN,NaN,NaN,sum,count,sum,count,sum,count,...,sum,count,sum,count,sum,count,sum,count,sum,count
0.0,201701.0,남구,대명동,대명10동,599.52,201,457.46,201,341.92,201,...,2258.95,201,1837.07,201,1922.85,201,1259.41,201,1205.86,201
1.0,201701.0,남구,대명동,대명11동,593.37,231,422.48,231,326.83,231,...,2204.45,231,1828.49,231,1916.45,231,1247.51,231,1276.42,231
2.0,201701.0,남구,대명동,대명1동,427.83,193,322.14,193,248.95000000000002,193,...,1144.3600000000001,193,975.9,193,1077.47,193,767.0,193,797.38,193
3.0,201701.0,남구,대명동,대명2동,636.43,325,454.07,325,356.90999999999997,325,...,2110.89,325,1759.1299999999999,325,1917.79,325,1338.58,325,1313.3799999999999,325

In [7]:
df_moving = {
  'age': moving_by_age,
  'time': moving_by_times,
  'days': moving_by_days
}

In [8]:
for k, v in df_moving.items():
  new_columns = [col+'_sum' if col.count('.') == 0 else col.split('.')[0]+'_count' for col in v.columns]
  v.columns = new_columns
  v.reset_index(drop=True, inplace=True)
  v.drop(0, inplace=True)
  df_moving[k] = v

# 월별 나이별 법정동별 유동인구
- 컬럼병 수정
- 평균값 도출

In [9]:
moving_by_age.head()

,STD_YM_sum,SGNG_NM_sum,LDONG_NM_sum,ADONG_NM_sum,MAN_FLOW_POP_CNT_10G_sum,MAN_FLOW_POP_CNT_10G_count,MAN_FLOW_POP_CNT_20G_sum,MAN_FLOW_POP_CNT_20G_count,MAN_FLOW_POP_CNT_30G_sum,MAN_FLOW_POP_CNT_30G_count,...,WMAN_FLOW_POP_CNT_20G_sum,WMAN_FLOW_POP_CNT_20G_count,WMAN_FLOW_POP_CNT_30G_sum,WMAN_FLOW_POP_CNT_30G_count,WMAN_FLOW_POP_CNT_40G_sum,WMAN_FLOW_POP_CNT_40G_count,WMAN_FLOW_POP_CNT_50G_sum,WMAN_FLOW_POP_CNT_50G_count,WMAN_FLOW_POP_CNT_60GU_sum,WMAN_FLOW_POP_CNT_60GU_count
1,201701.0,남구,대명동,대명10동,837.33,201,3019.51,201,4379.05,201,...,2952.49,201,3193.58,201,3625.85,201,3809.27,201,2657.05,201
2,201701.0,남구,대명동,대명11동,914.48,227,2959.87,227,4353.57,227,...,2710.21,227,3210.23,227,3664.29,227,3950.78,227,2730.12,227
3,201701.0,남구,대명동,대명1동,601.57,193,1537.25,193,2258.53,193,...,1436.01,193,1808.26,193,1985.17,193,1820.28,193,1241.8700000000001,193
4,201701.0,남구,대명동,대명2동,1103.23,321,3272.91,321,4342.55,321,...,3308.98,321,3364.85,321,3754.84,321,3373.8,321,2896.05,321
5,201701.0,남구,대명동,대명3동,1018.37,391,2983.32,391,4134.42,391,...,2689.21,391,2935.44,391,3156.41,391,3110.37,391,2443.74,391

In [10]:
moving_by_age.columns = [col.replace('WMAN_','').replace('MAN_', '') for col in moving_by_age.columns]
moving_by_age

,STD_YM_sum,SGNG_NM_sum,LDONG_NM_sum,ADONG_NM_sum,FLOW_POP_CNT_10G_sum,FLOW_POP_CNT_10G_count,FLOW_POP_CNT_20G_sum,FLOW_POP_CNT_20G_count,FLOW_POP_CNT_30G_sum,FLOW_POP_CNT_30G_count,...,FLOW_POP_CNT_20G_sum,FLOW_POP_CNT_20G_count,FLOW_POP_CNT_30G_sum,FLOW_POP_CNT_30G_count,FLOW_POP_CNT_40G_sum,FLOW_POP_CNT_40G_count,FLOW_POP_CNT_50G_sum,FLOW_POP_CNT_50G_count,FLOW_POP_CNT_60GU_sum,FLOW_POP_CNT_60GU_count
1,201701.0,남구,대명동,대명10동,837.33,201,3019.51,201,4379.05,201,...,2952.49,201,3193.58,201,3625.85,201,3809.27,201,2657.05,201
2,201701.0,남구,대명동,대명11동,914.48,227,2959.87,227,4353.57,227,...,2710.21,227,3210.23,227,3664.29,227,3950.78,227,2730.12,227
3,201701.0,남구,대명동,대명1동,601.57,193,1537.25,193,2258.53,193,...,1436.01,193,1808.26,193,1985.17,193,1820.28,193,1241.8700000000001,193
4,201701.0,남구,대명동,대명2동,1103.23,321,3272.91,321,4342.55,321,...,3308.98,321,3364.85,321,3754.84,321,3373.8,321,2896.05,321
5,201701.0,남구,대명동,대명3동,1018.37,391,2983.32,391,4134.42,391,...,2689.21,391,2935.44,391,3156.41,391,3110.37,391,2443.74,391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5582,201811.0,중구,포정동,성내1동,72.11,3,228.12,3,187.32,3,...,252.46,3,173.73000000000002,3,199.76,3,206.70999999999998,3,252.05,3
5583,201811.0,중구,포정동,성내2동,245.19,24,777.64,24,589.79,24,...,861.35,24,507.95000000000005,24,552.73,24,610.98,24,873.25,24
5584,201811.0,중구,하서동,성내2동,48.660000000000004,7,194.27,7,270.36,7,...,185.43,7,198.1,7,218.0,7,229.91,7,189.11,7
5585,201811.0,중구,향촌동,성내2동,32.97,5,115.16,5,93.87,5,...,140.20000000000002,5,79.63,5,74.93,5,94.7,5,141.74,5
5586,201811.0,중구,화전동,성내1동,132.66,9,426.81,9,340.66,9,...,452.01,9,297.4,9,334.61,9,373.6,9,473.85,9

In [11]:
moving_by_age.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5586 entries, 1 to 5586
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   STD_YM_sum               5586 non-null   float64
 1   SGNG_NM_sum              5586 non-null   object
 2   LDONG_NM_sum             5586 non-null   object
 3   ADONG_NM_sum             5586 non-null   object
 4   FLOW_POP_CNT_10G_sum     5586 non-null   object
 5   FLOW_POP_CNT_10G_count   5586 non-null   object
 6   FLOW_POP_CNT_20G_sum     5586 non-null   object
 7   FLOW_POP_CNT_20G_count   5586 non-null   object
 8   FLOW_POP_CNT_30G_sum     5586 non-null   object
 9   FLOW_POP_CNT_30G_count   5586 non-null   object
 10  FLOW_POP_CNT_40G_sum     5586 non-null   object
 11  FLOW_POP_CNT_40G_count   5586 non-null   object
 12  FLOW_POP_CNT_50G_sum     5586 non-null   object
 13  FLOW_POP_CNT_50G_count   5586 non-null   object
 14  FLOW_POP_CNT_60GU_sum    5586 non-null   object
 15  FLOW_POP_CNT_60GU_count  5586 non-null   object
 16  FLOW_POP_CNT_10G_sum     5586 non-null   object
 17  FLOW_POP_CNT_10G_count   5586 non-null   object
 18  FLOW_POP_CNT_20G_sum     5586 non-null   object
 19  FLOW_POP_CNT_20G_count   5586 non-null   object
 20  FLOW_POP_CNT_30G_sum     5586 non-null   object
 21  FLOW_POP_CNT_30G_count   5586 non-null   object
 22  FLOW_POP_CNT_40G_sum     5586 non-null   object
 23  FLOW_POP_CNT_40G_count   5586 non-null   object
 24  FLOW_POP_CNT_50G_sum     5586 non-null   object
 25  FLOW_POP_CNT_50G_count   5586 non-null   object
 26  FLOW_POP_CNT_60GU_sum    5586 non-null   object
 27  FLOW_POP_CNT_60GU_count  5586 non-null   object
dtypes: float64(1), object(27)
memory usage: 1.2+ MB

In [12]:
for k,v in df_moving.items():
  new_v = v.iloc[:,4:].map(float)
  df_moving[k] = pd.concat([v.iloc[:,:4], new_v], axis=1)

In [13]:
df_moving['age'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5586 entries, 1 to 5586
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   STD_YM_sum               5586 non-null   float64
 1   SGNG_NM_sum              5586 non-null   object
 2   LDONG_NM_sum             5586 non-null   object
 3   ADONG_NM_sum             5586 non-null   object
 4   FLOW_POP_CNT_10G_sum     5586 non-null   float64
 5   FLOW_POP_CNT_10G_count   5586 non-null   float64
 6   FLOW_POP_CNT_20G_sum     5586 non-null   float64
 7   FLOW_POP_CNT_20G_count   5586 non-null   float64
 8   FLOW_POP_CNT_30G_sum     5586 non-null   float64
 9   FLOW_POP_CNT_30G_count   5586 non-null   float64
 10  FLOW_POP_CNT_40G_sum     5586 non-null   float64
 11  FLOW_POP_CNT_40G_count   5586 non-null   float64
 12  FLOW_POP_CNT_50G_sum     5586 non-null   float64
 13  FLOW_POP_CNT_50G_count   5586 non-null   float64
 14  FLOW_POP_CNT_60GU_sum    5586 non-null   float64
 15  FLOW_POP_CNT_60GU_count  5586 non-null   float64
 16  FLOW_POP_CNT_10G_sum     5586 non-null   float64
 17  FLOW_POP_CNT_10G_count   5586 non-null   float64
 18  FLOW_POP_CNT_20G_sum     5586 non-null   float64
 19  FLOW_POP_CNT_20G_count   5586 non-null   float64
 20  FLOW_POP_CNT_30G_sum     5586 non-null   float64
 21  FLOW_POP_CNT_30G_count   5586 non-null   float64
 22  FLOW_POP_CNT_40G_sum     5586 non-null   float64
 23  FLOW_POP_CNT_40G_count   5586 non-null   float64
 24  FLOW_POP_CNT_50G_sum     5586 non-null   float64
 25  FLOW_POP_CNT_50G_count   5586 non-null   float64
 26  FLOW_POP_CNT_60GU_sum    5586 non-null   float64
 27  FLOW_POP_CNT_60GU_count  5586 non-null   float64
dtypes: float64(25), object(3)
memory usage: 1.2+ MB

# 평균값 계산
- 동멸 연령별 월별 평균값 계산

In [14]:
moving_by_age_sum = df_moving['age']
moving_by_age_sum = moving_by_age_sum.iloc[:, 4:16:2] + moving_by_age_sum.iloc[:, 16::2]

moving_by_age_sum['구'] = df_moving['age']['SGNG_NM_sum']
moving_by_age_sum['year'] = df_moving['age']['STD_YM_sum']
moving_by_age_sum['동'] = df_moving['age']['LDONG_NM_sum']
moving_by_age_sum.columns = ['10대', '20대', '30대', '40대', '50대', '60대', '구', '년', '동']
moving_by_age_sum['월'] = moving_by_age_sum['년'].astype(str).str[4:6]
moving_by_age_sum = moving_by_age_sum.drop('년', axis=1).groupby(['월','구','동']).sum()
moving_by_age_sum

                   10대       20대       30대       40대       50대       60대
월  구   동
01 남구  대명동    17089.85  50871.07  67003.62  72959.84  70062.39  55240.79
       봉덕동     6573.29  12915.17  21159.72  25552.06  23800.92  20729.36
       이천동     2138.58   4705.99   7942.70   9368.46   7890.72   6615.11
   달서구 갈산동      250.94   2202.93   4756.98   6217.89   5626.99   1972.29
       감삼동     5050.52  13973.42  20518.84  22779.01  22837.89  13579.00
...                ...       ...       ...       ...       ...       ...
11 중구  태평로3가    559.50   2034.87   2735.83   2802.57   2763.41   2276.51
       포정동     1340.36   3886.97   2680.73   2951.95   3193.75   4367.86
       하서동      194.16    678.22    828.87    915.30    946.01    807.40
       향촌동      195.64    633.25    367.50    381.68    444.79    671.67
       화전동      682.56   1870.92   1250.42   1420.19   1569.78   2122.26

[2134 rows x 6 columns]

In [17]:
moving_by_age_cnt = df_moving['age']
moving_by_age_cnt = moving_by_age_cnt.iloc[:, 5:17:2] + moving_by_age_cnt.iloc[:, 17::2]
moving_by_age_cnt['year'] = df_moving['age']['STD_YM_sum']
moving_by_age_cnt['구'] = df_moving['age']['SGNG_NM_sum']
moving_by_age_cnt['동'] = df_moving['age']['LDONG_NM_sum']
moving_by_age_cnt.columns = ['10대', '20대', '30대', '40대', '50대', '60대', '년', '구', '동']
moving_by_age_cnt['월'] = moving_by_age_cnt['년'].astype(str).str[4:6]
moving_by_age_cnt = moving_by_age_cnt.drop('년', axis=1).groupby(['월','구','동']).sum()
moving_by_age_cnt

                 10대     20대     30대     40대     50대     60대
월  구   동
01 남구  대명동    5512.0  5512.0  5512.0  5512.0  5512.0  5512.0
       봉덕동    2278.0  2278.0  2278.0  2278.0  2278.0  2278.0
       이천동     826.0   826.0   826.0   826.0   826.0   826.0
   달서구 갈산동    1584.0  1584.0  1584.0  1584.0  1584.0  1584.0
       감삼동    1088.0  1088.0  1088.0  1088.0  1088.0  1088.0
...              ...     ...     ...     ...     ...     ...
11 중구  태평로3가   240.0   240.0   240.0   240.0   240.0   240.0
       포정동     108.0   108.0   108.0   108.0   108.0   108.0
       하서동      28.0    28.0    28.0    28.0    28.0    28.0
       향촌동      20.0    20.0    20.0    20.0    20.0    20.0
       화전동      36.0    36.0    36.0    36.0    36.0    36.0

[2134 rows x 6 columns]

In [18]:
moving_by_age_mean = moving_by_age_sum / moving_by_age_cnt
moving_by_age_mean

                    10대        20대        30대        40대        50대        60대
월  구   동
01 남구  대명동     3.100481   9.229149  12.155954  13.236546  12.710884  10.021914
       봉덕동     2.885553   5.669522   9.288727  11.216883  10.448165   9.099807
       이천동     2.589080   5.697324   9.615860  11.341961   9.552930   8.008608
   달서구 갈산동     0.158422   1.390739   3.003144   3.925436   3.552393   1.245133
       감삼동     4.642022  12.843217  18.859228  20.936590  20.990708  12.480699
...                 ...        ...        ...        ...        ...        ...
11 중구  태평로3가   2.331250   8.478625  11.399292  11.677375  11.514208   9.485458
       포정동    12.410741  35.990463  24.821574  27.332870  29.571759  40.443148
       하서동     6.934286  24.222143  29.602500  32.689286  33.786071  28.835714
       향촌동     9.782000  31.662500  18.375000  19.084000  22.239500  33.583500
       화전동    18.960000  51.970000  34.733889  39.449722  43.605000  58.951667

[2134 rows x 6 columns]

In [19]:
moving_by_age_mean_12 = ((moving_by_age_mean.loc['01'] + moving_by_age_mean.loc['11'])/2)
moving_by_age_mean_12 = moving_by_age_mean_12.reset_index()
moving_by_age_mean_12['월'] = '12'
moving_by_age_mean_12 = moving_by_age_mean_12.groupby(['월', '구', '동']).sum()
moving_by_age_mean_12

                    10대        20대        30대        40대        50대        60대
월  구   동
12 남구  대명동     3.755668  10.192935  12.321984  13.689260  13.709882  12.230001
       봉덕동     2.556244   5.644361   9.321554  11.518635  10.943604   9.822709
       이천동     2.925581   6.582295  11.210201  13.806212  12.016171  10.695787
   달서구 갈산동     0.194759   1.463049   3.012922   4.066374   3.772551   1.458870
       감삼동     5.466342  13.971574  19.750997  22.247575  22.805957  15.291682
...                 ...        ...        ...        ...        ...        ...
   중구  태평로3가   1.910576   6.698283   8.957979   9.508442   9.186026   7.255621
       포정동    10.328704  33.645880  25.598009  27.593843  28.630046  34.859630
       하서동     5.890357  22.652143  27.371964  30.245714  30.595893  25.345714
       향촌동     7.609000  26.377750  18.669000  19.776500  21.718250  29.100250
       화전동    17.427778  52.200000  40.209722  44.104028  45.486944  54.140000

[194 rows x 6 columns]

In [20]:
moving_by_age_mean = pd.concat([moving_by_age_mean, moving_by_age_mean_12])
moving_by_age_mean

                    10대        20대        30대        40대        50대        60대
월  구   동
01 남구  대명동     3.100481   9.229149  12.155954  13.236546  12.710884  10.021914
       봉덕동     2.885553   5.669522   9.288727  11.216883  10.448165   9.099807
       이천동     2.589080   5.697324   9.615860  11.341961   9.552930   8.008608
   달서구 갈산동     0.158422   1.390739   3.003144   3.925436   3.552393   1.245133
       감삼동     4.642022  12.843217  18.859228  20.936590  20.990708  12.480699
...                 ...        ...        ...        ...        ...        ...
12 중구  태평로3가   1.910576   6.698283   8.957979   9.508442   9.186026   7.255621
       포정동    10.328704  33.645880  25.598009  27.593843  28.630046  34.859630
       하서동     5.890357  22.652143  27.371964  30.245714  30.595893  25.345714
       향촌동     7.609000  26.377750  18.669000  19.776500  21.718250  29.100250
       화전동    17.427778  52.200000  40.209722  44.104028  45.486944  54.140000

[2328 rows x 6 columns]

In [21]:
df_moving['age'] = moving_by_age_mean
df_moving['age']

                    10대        20대        30대        40대        50대        60대
월  구   동
01 남구  대명동     3.100481   9.229149  12.155954  13.236546  12.710884  10.021914
       봉덕동     2.885553   5.669522   9.288727  11.216883  10.448165   9.099807
       이천동     2.589080   5.697324   9.615860  11.341961   9.552930   8.008608
   달서구 갈산동     0.158422   1.390739   3.003144   3.925436   3.552393   1.245133
       감삼동     4.642022  12.843217  18.859228  20.936590  20.990708  12.480699
...                 ...        ...        ...        ...        ...        ...
12 중구  태평로3가   1.910576   6.698283   8.957979   9.508442   9.186026   7.255621
       포정동    10.328704  33.645880  25.598009  27.593843  28.630046  34.859630
       하서동     5.890357  22.652143  27.371964  30.245714  30.595893  25.345714
       향촌동     7.609000  26.377750  18.669000  19.776500  21.718250  29.100250
       화전동    17.427778  52.200000  40.209722  44.104028  45.486944  54.140000

[2328 rows x 6 columns]


# 요일별 월별 동별 평균 유동인구 계산

In [22]:
df_moving['days']

,STD_YM_sum,SGNG_NM_sum,LDONG_NM_sum,ADONG_NM_sum,FLOW_POP_CNT_MON_sum,FLOW_POP_CNT_MON_count,FLOW_POP_CNT_TUS_sum,FLOW_POP_CNT_TUS_count,FLOW_POP_CNT_WED_sum,FLOW_POP_CNT_WED_count,FLOW_POP_CNT_THU_sum,FLOW_POP_CNT_THU_count,FLOW_POP_CNT_FRI_sum,FLOW_POP_CNT_FRI_count,FLOW_POP_CNT_SAT_sum,FLOW_POP_CNT_SAT_count,FLOW_POP_CNT_SUN_sum,FLOW_POP_CNT_SUN_count
1,201701.0,남구,대명동,대명10동,40623.61,201.0,39604.64,201.0,43504.25,201.0,40862.09,201.0,38860.45,201.0,37693.17,201.0,31818.78,201.0
2,201701.0,남구,대명동,대명11동,39668.13,231.0,37833.41,231.0,41492.86,231.0,40143.77,231.0,38607.75,231.0,41759.93,231.0,35292.34,231.0
3,201701.0,남구,대명동,대명1동,20577.11,193.0,20005.86,193.0,21490.47,193.0,20889.07,193.0,19705.09,193.0,19587.86,193.0,16960.55,193.0
4,201701.0,남구,대명동,대명2동,42713.19,325.0,41302.62,325.0,44095.99,325.0,43894.35,325.0,39855.98,325.0,38859.46,325.0,30816.04,325.0
5,201701.0,남구,대명동,대명3동,38832.74,398.0,37529.73,398.0,40042.13,398.0,39391.45,398.0,36637.61,398.0,35283.83,398.0,28301.06,398.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5582,201811.0,중구,포정동,성내1동,2279.78,3.0,2187.52,3.0,2216.42,3.0,2187.92,3.0,2532.20,3.0,3102.42,3.0,2428.39,3.0
5583,201811.0,중구,포정동,성내2동,7742.60,24.0,7604.35,24.0,7609.48,24.0,7507.46,24.0,8645.99,24.0,9074.06,24.0,7137.37,24.0
5584,201811.0,중구,하서동,성내2동,2765.84,7.0,2694.52,7.0,2716.06,7.0,2707.84,7.0,2960.34,7.0,2337.38,7.0,1584.49,7.0
5585,201811.0,중구,향촌동,성내2동,1240.50,5.0,1180.71,5.0,1181.09,5.0,1167.92,5.0,1346.47,5.0,1361.19,5.0,1107.17,5.0
5586,201811.0,중구,화전동,성내1동,4240.97,9.0,3998.33,9.0,4033.35,9.0,3998.89,9.0,4815.16,9.0,5441.95,9.0,4386.74,9.0

In [23]:
moving_by_days_sum = df_moving['days']
moving_by_days_sum = moving_by_days_sum.iloc[:, 4::2]
moving_by_days_sum['year'] = df_moving['days']['STD_YM_sum']
moving_by_days_sum['구'] = df_moving['days']['SGNG_NM_sum']
moving_by_days_sum['동'] = df_moving['days']['LDONG_NM_sum']
moving_by_days_sum.columns = ['월요일', '화요일', '수요일', '목요일', '금요일', '토요일', '일요일', '년', '구', '동']
moving_by_days_sum['월'] = moving_by_days_sum['년'].astype(str).str[4:6]
moving_by_days_sum = moving_by_days_sum.drop('년', axis=1).groupby(['월','구','동']).sum()
moving_by_days_sum

                    월요일        화요일        수요일        목요일        금요일  \
월  구   동
01 남구  대명동    351194.93  343666.05  368888.39  357323.53  336282.91
       봉덕동    113739.64  111477.34  119536.09  116164.55  113229.97
       이천동     40411.57   39921.22   42734.60   41844.50   40003.15
   달서구 갈산동     26769.23   28165.24   30109.02   28482.83   23995.69
       감삼동    100547.40   98428.11  106508.10  105440.23  101069.43
...                 ...        ...        ...        ...        ...
11 중구  태평로3가   13034.50   12678.46   12838.89   12776.79   14775.40
       포정동     17740.74   17708.51   17989.31   17802.22   19930.27
       하서동      4645.60    4612.59    4659.90    4741.35    5033.88
       향촌동      2662.09    2648.31    2687.22    2678.69    2966.08
       화전동      8460.35    8340.25    8515.93    8540.72    9587.20

                    토요일        일요일
월  구   동
01 남구  대명동    337587.06  284911.99
       봉덕동    116280.53   98714.91
       이천동     39400.15   32603.10
   달서구 갈산동     14769.29    8750.23
       감삼동    104442.73   85714.87
...                 ...        ...
11 중구  태평로3가   15473.38   11722.07
       포정동     21378.63   16725.16
       하서동      3997.87    2777.43
       향촌동      2899.63    2322.00
       화전동     10702.89    8353.60

[2134 rows x 7 columns]

In [24]:
moving_by_days_cnt = df_moving['days']
moving_by_days_cnt = moving_by_days_cnt.iloc[:, 5::2]
moving_by_days_cnt['year'] = df_moving['days']['STD_YM_sum']
moving_by_days_cnt['구'] = df_moving['days']['SGNG_NM_sum']
moving_by_days_cnt['동'] = df_moving['days']['LDONG_NM_sum']
moving_by_days_cnt.columns = ['월요일', '화요일', '수요일', '목요일', '금요일', '토요일', '일요일', '년', '구', '동']
moving_by_days_cnt['월'] = moving_by_days_cnt['년'].astype(str).str[4:6]
moving_by_days_cnt = moving_by_days_cnt.drop('년', axis=1).groupby(['월', '구', '동']).sum()
moving_by_days_cnt

                 월요일     화요일     수요일     목요일     금요일     토요일     일요일
월  구   동
01 남구  대명동    2854.0  2854.0  2854.0  2854.0  2854.0  2854.0  2854.0
       봉덕동    1257.0  1257.0  1257.0  1257.0  1257.0  1257.0  1257.0
       이천동     426.0   426.0   426.0   426.0   426.0   426.0   426.0
   달서구 갈산동     802.0   802.0   802.0   802.0   802.0   802.0   802.0
       감삼동     545.0   545.0   545.0   545.0   545.0   545.0   545.0
...              ...     ...     ...     ...     ...     ...     ...
11 중구  태평로3가   120.0   120.0   120.0   120.0   120.0   120.0   120.0
       포정동      54.0    54.0    54.0    54.0    54.0    54.0    54.0
       하서동      14.0    14.0    14.0    14.0    14.0    14.0    14.0
       향촌동      10.0    10.0    10.0    10.0    10.0    10.0    10.0
       화전동      18.0    18.0    18.0    18.0    18.0    18.0    18.0

[2134 rows x 7 columns]

In [25]:
df_moving_days_mean = moving_by_days_sum / moving_by_days_cnt
df_moving_days_mean

                     월요일         화요일         수요일         목요일         금요일  \
월  구   동
01 남구  대명동    123.053584  120.415575  129.253115  125.200957  117.828630
       봉덕동     90.484996   88.685235   95.096333   92.414121   90.079531
       이천동     94.862840   93.711784  100.315962   98.226526   93.904108
   달서구 갈산동     33.378092   35.118753   37.542419   35.514751   29.919813
       감삼동    184.490642  180.602037  195.427706  193.468312  185.448495
...                  ...         ...         ...         ...         ...
11 중구  태평로3가  108.620833  105.653833  106.990750  106.473250  123.128333
       포정동    328.532222  327.935370  333.135370  329.670741  369.079074
       하서동    331.828571  329.470714  332.850000  338.667857  359.562857
       향촌동    266.209000  264.831000  268.722000  267.869000  296.608000
       화전동    470.019444  463.347222  473.107222  474.484444  532.622222

                     토요일         일요일
월  구   동
01 남구  대명동    118.285585   99.829008
       봉덕동     92.506388   78.532148
       이천동     92.488615   76.533099
   달서구 갈산동     18.415574   10.910511
       감삼동    191.638037  157.274991
...                  ...         ...
11 중구  태평로3가  128.944833   97.683917
       포정동    395.900556  309.725185
       하서동    285.562143  198.387857
       향촌동    289.963000  232.200000
       화전동    594.605000  464.088889

[2134 rows x 7 columns]

In [26]:
df_moving_days_mean_12 = ((df_moving_days_mean.loc['01'] + df_moving_days_mean.loc['11'])/2)
df_moving_days_mean_12 = df_moving_days_mean_12.reset_index()
df_moving_days_mean_12['월'] = '12'
df_moving_days_mean_12 = df_moving_days_mean_12.groupby(['월', '구', '동']).sum()
df_moving_days_mean_12

                     월요일         화요일         수요일         목요일         금요일  \
월  구   동
12 남구  대명동    134.339332  131.971344  136.946008  133.086655  134.116173
       봉덕동     94.750805   92.986471   96.066125   95.325627   96.381684
       이천동    114.229832  113.217252  116.733902  116.079951  118.221984
   달서구 갈산동     34.100267   34.864180   36.601963   35.285349   32.782394
       감삼동    199.292401  196.448345  204.539914  202.431514  206.295189
...                  ...         ...         ...         ...         ...
   중구  태평로3가   85.419417   82.706333   84.855875   84.310458   92.055917
       포정동    327.230741  320.012500  328.238241  327.431852  333.576389
       하서동    311.222857  311.524643  319.627143  320.527500  316.367143
       향촌동    254.746500  249.738500  255.630000  255.190500  260.019000
       화전동    507.469167  495.573056  508.473611  509.856111  518.738333

                     토요일         일요일
월  구   동
12 남구  대명동    131.612932  109.694645
       봉덕동     99.040644   83.390762
       이천동    118.821588   97.990078
   달서구 갈산동     19.076090   10.642958
       감삼동    216.127090  179.016101
...                  ...         ...
   중구  태평로3가   95.865750   72.741625
       포정동    349.839352  281.485000
       하서동    242.243929  176.325357
       향촌동    251.128500  207.855000
       화전동    567.925833  455.269444

[194 rows x 7 columns]

In [27]:
df_moving_days_mean = pd.concat([df_moving_days_mean, df_moving_days_mean_12])
df_moving_days_mean

                     월요일         화요일         수요일         목요일         금요일  \
월  구   동
01 남구  대명동    123.053584  120.415575  129.253115  125.200957  117.828630
       봉덕동     90.484996   88.685235   95.096333   92.414121   90.079531
       이천동     94.862840   93.711784  100.315962   98.226526   93.904108
   달서구 갈산동     33.378092   35.118753   37.542419   35.514751   29.919813
       감삼동    184.490642  180.602037  195.427706  193.468312  185.448495
...                  ...         ...         ...         ...         ...
12 중구  태평로3가   85.419417   82.706333   84.855875   84.310458   92.055917
       포정동    327.230741  320.012500  328.238241  327.431852  333.576389
       하서동    311.222857  311.524643  319.627143  320.527500  316.367143
       향촌동    254.746500  249.738500  255.630000  255.190500  260.019000
       화전동    507.469167  495.573056  508.473611  509.856111  518.738333

                     토요일         일요일
월  구   동
01 남구  대명동    118.285585   99.829008
       봉덕동     92.506388   78.532148
       이천동     92.488615   76.533099
   달서구 갈산동     18.415574   10.910511
       감삼동    191.638037  157.274991
...                  ...         ...
12 중구  태평로3가   95.865750   72.741625
       포정동    349.839352  281.485000
       하서동    242.243929  176.325357
       향촌동    251.128500  207.855000
       화전동    567.925833  455.269444

[2328 rows x 7 columns]

In [28]:
df_moving['days'] = df_moving_days_mean
df_moving['days']

                     월요일         화요일         수요일         목요일         금요일  \
월  구   동
01 남구  대명동    123.053584  120.415575  129.253115  125.200957  117.828630
       봉덕동     90.484996   88.685235   95.096333   92.414121   90.079531
       이천동     94.862840   93.711784  100.315962   98.226526   93.904108
   달서구 갈산동     33.378092   35.118753   37.542419   35.514751   29.919813
       감삼동    184.490642  180.602037  195.427706  193.468312  185.448495
...                  ...         ...         ...         ...         ...
12 중구  태평로3가   85.419417   82.706333   84.855875   84.310458   92.055917
       포정동    327.230741  320.012500  328.238241  327.431852  333.576389
       하서동    311.222857  311.524643  319.627143  320.527500  316.367143
       향촌동    254.746500  249.738500  255.630000  255.190500  260.019000
       화전동    507.469167  495.573056  508.473611  509.856111  518.738333

                     토요일         일요일
월  구   동
01 남구  대명동    118.285585   99.829008
       봉덕동     92.506388   78.532148
       이천동     92.488615   76.533099
   달서구 갈산동     18.415574   10.910511
       감삼동    191.638037  157.274991
...                  ...         ...
12 중구  태평로3가   95.865750   72.741625
       포정동    349.839352  281.485000
       하서동    242.243929  176.325357
       향촌동    251.128500  207.855000
       화전동    567.925833  455.269444

[2328 rows x 7 columns]

# 시간별 동별 월별 유동인구

In [29]:
df_moving['time']

,STD_YM_sum,SGNG_NM_sum,LDONG_NM_sum,ADONG_NM_sum,TMST_00_sum,TMST_00_count,TMST_01_sum,TMST_01_count,TMST_02_sum,TMST_02_count,...,TMST_19_sum,TMST_19_count,TMST_20_sum,TMST_20_count,TMST_21_sum,TMST_21_count,TMST_22_sum,TMST_22_count,TMST_23_sum,TMST_23_count
1,201701.0,남구,대명동,대명10동,599.52,201.0,457.46,201.0,341.92,201.0,...,2258.95,201.0,1837.07,201.0,1922.85,201.0,1259.41,201.0,1205.86,201.0
2,201701.0,남구,대명동,대명11동,593.37,231.0,422.48,231.0,326.83,231.0,...,2204.45,231.0,1828.49,231.0,1916.45,231.0,1247.51,231.0,1276.42,231.0
3,201701.0,남구,대명동,대명1동,427.83,193.0,322.14,193.0,248.95,193.0,...,1144.36,193.0,975.90,193.0,1077.47,193.0,767.00,193.0,797.38,193.0
4,201701.0,남구,대명동,대명2동,636.43,325.0,454.07,325.0,356.91,325.0,...,2110.89,325.0,1759.13,325.0,1917.79,325.0,1338.58,325.0,1313.38,325.0
5,201701.0,남구,대명동,대명3동,644.15,397.0,455.95,397.0,356.02,397.0,...,1981.01,397.0,1703.93,397.0,1847.15,397.0,1291.03,397.0,1293.50,397.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5582,201811.0,중구,포정동,성내1동,10.73,3.0,7.91,3.0,5.83,3.0,...,91.36,3.0,79.12,3.0,62.97,3.0,41.08,3.0,20.55,3.0
5583,201811.0,중구,포정동,성내2동,39.50,24.0,27.57,24.0,19.63,24.0,...,292.62,24.0,267.70,24.0,192.43,24.0,142.19,24.0,71.74,24.0
5584,201811.0,중구,하서동,성내2동,21.20,7.0,15.39,7.0,11.00,7.0,...,96.13,7.0,86.29,7.0,76.66,7.0,50.78,7.0,31.92,7.0
5585,201811.0,중구,향촌동,성내2동,5.75,5.0,4.40,5.0,3.44,5.0,...,47.41,5.0,37.73,5.0,38.14,5.0,27.20,5.0,10.74,5.0
5586,201811.0,중구,화전동,성내1동,20.00,9.0,16.52,9.0,12.90,9.0,...,180.31,9.0,141.73,9.0,136.77,9.0,89.53,9.0,41.76,9.0

In [30]:
moving_by_time_sum = df_moving['time']
moving_by_time_sum = moving_by_time_sum.iloc[:, 4::2]
moving_by_time_sum['year'] = df_moving['time']['STD_YM_sum']
moving_by_time_sum['구'] = df_moving['time']['SGNG_NM_sum']
moving_by_time_sum['동'] = df_moving['time']['LDONG_NM_sum']
moving_by_time_sum.columns = [*range(0, 24), '년', '구', '동']
moving_by_time_sum['월'] = moving_by_time_sum['년'].astype(str).str[4:6]
moving_by_time_sum = moving_by_time_sum.drop('년', axis=1).groupby(['월', '구', '동']).sum()
moving_by_time_sum

                   0        1        2        3        4        5        6   \
월  구   동
01 남구  대명동    5755.08  4240.29  3236.49  2520.74  2346.98  3185.73  5602.92
       봉덕동    2066.53  1475.66  1155.41   928.24   891.95  1198.70  2019.68
       이천동     725.60   520.59   404.76   314.17   288.88   379.59   631.14
   달서구 갈산동     164.70   116.26    95.52    86.84   102.37   175.45   678.69
       감삼동    1765.07  1279.25   974.59   764.48   711.78   866.45  1853.39
...               ...      ...      ...      ...      ...      ...      ...
11 중구  태평로3가   118.88    88.11    68.74    52.08    55.75   133.20   283.01
       포정동      97.10    67.25    48.66    36.00    47.31   126.08   328.98
       하서동      37.03    25.88    18.94    14.61    15.88    36.89    84.58
       향촌동      11.12     8.16     6.35     4.87     5.94    19.00    49.91
       화전동      41.48    31.31    24.95    16.75    19.84    63.51   167.91

                   7         8         9   ...        14        15        16  \
월  구   동                                   ...
01 남구  대명동    9680.25  17199.51  16731.27  ...  23684.11  20425.58  20303.87
       봉덕동    3593.43   5590.41   5621.62  ...   7609.82   6812.03   6818.86
       이천동    1207.82   1914.10   2063.69  ...   2737.61   2382.15   2396.05
   달서구 갈산동    2555.85   2063.43   1420.35  ...   1790.00   1305.35   1231.05
       감삼동    3391.61   4638.71   4500.18  ...   6619.93   5901.26   5949.37
...               ...       ...       ...  ...       ...       ...       ...
11 중구  태평로3가   672.19    935.24    808.57  ...    834.25    889.20    959.12
       포정동     794.10   1248.37   1124.09  ...   1459.14   1272.41   1296.25
       하서동     235.50    349.94    297.07  ...    289.09    286.92    281.77
       향촌동     128.76    201.10    172.53  ...    209.11    180.43    185.08
       화전동     370.69    584.51    608.76  ...    695.98    629.85    614.00

                    17        18        19        20        21        22  \
월  구   동
01 남구  대명동    22631.15  23959.11  19001.81  15972.89  16810.21  11456.86
       봉덕동     7569.00   7689.44   6082.12   5084.86   5321.27   3821.65
       이천동     2629.83   2755.89   2157.83   1793.28   1895.54   1365.61
   달서구 갈산동     1299.06   1193.51    818.48    677.49    574.05    318.19
       감삼동     7164.99   7854.31   6135.60   4980.97   5020.84   3390.46
...                ...       ...       ...       ...       ...       ...
11 중구  태평로3가    945.55    911.38    704.31    549.53    483.65    339.82
       포정동     1272.83   1324.59    761.77    609.92    482.27    350.22
       하서동      293.13    305.97    181.36    149.91    134.92     93.71
       향촌동      176.57    186.16    110.44     83.73     80.48     61.53
       화전동      603.66    597.98    384.09    278.19    256.29    180.85

                    23
월  구   동
01 남구  대명동    11178.37
       봉덕동     3673.02
       이천동     1321.43
   달서구 갈산동      313.32
       감삼동     3344.52
...                ...
11 중구  태평로3가    218.44
       포정동      166.93
       하서동       56.92
       향촌동       20.94
       화전동       77.52

[2134 rows x 24 columns]

In [31]:
moving_by_time_cnt = df_moving['time']
moving_by_time_cnt = moving_by_time_cnt.iloc[:, 5::2]
moving_by_time_cnt['year'] = df_moving['time']['STD_YM_sum']
moving_by_time_cnt['구'] = df_moving['time']['SGNG_NM_sum']
moving_by_time_cnt['동'] = df_moving['time']['LDONG_NM_sum']
moving_by_time_cnt.columns = [*range(0, 24), '년', '구', '동']
moving_by_time_cnt['월'] = moving_by_time_cnt['년'].astype(str).str[4:6]
moving_by_time_cnt = moving_by_time_cnt.drop('년', axis=1).groupby(['월', '구', '동']).sum()
moving_by_time_cnt

                  0       1       2       3       4       5       6       7   \
월  구   동
01 남구  대명동    2842.0  2842.0  2842.0  2842.0  2842.0  2842.0  2842.0  2842.0
       봉덕동    1229.0  1229.0  1229.0  1229.0  1229.0  1229.0  1229.0  1229.0
       이천동     425.0   425.0   425.0   425.0   425.0   425.0   425.0   425.0
   달서구 갈산동     801.0   801.0   801.0   801.0   801.0   801.0   801.0   801.0
       감삼동     545.0   545.0   545.0   545.0   545.0   545.0   545.0   545.0
...              ...     ...     ...     ...     ...     ...     ...     ...
11 중구  태평로3가   120.0   120.0   120.0   120.0   120.0   120.0   120.0   120.0
       포정동      54.0    54.0    54.0    54.0    54.0    54.0    54.0    54.0
       하서동      14.0    14.0    14.0    14.0    14.0    14.0    14.0    14.0
       향촌동      10.0    10.0    10.0    10.0    10.0    10.0    10.0    10.0
       화전동      18.0    18.0    18.0    18.0    18.0    18.0    18.0    18.0

                  8       9   ...      14      15      16      17      18  \
월  구   동                      ...
01 남구  대명동    2842.0  2842.0  ...  2842.0  2842.0  2842.0  2842.0  2842.0
       봉덕동    1229.0  1229.0  ...  1229.0  1229.0  1229.0  1229.0  1229.0
       이천동     425.0   425.0  ...   425.0   425.0   425.0   425.0   425.0
   달서구 갈산동     801.0   801.0  ...   801.0   801.0   801.0   801.0   801.0
       감삼동     545.0   545.0  ...   545.0   545.0   545.0   545.0   545.0
...              ...     ...  ...     ...     ...     ...     ...     ...
11 중구  태평로3가   120.0   120.0  ...   120.0   120.0   120.0   120.0   120.0
       포정동      54.0    54.0  ...    54.0    54.0    54.0    54.0    54.0
       하서동      14.0    14.0  ...    14.0    14.0    14.0    14.0    14.0
       향촌동      10.0    10.0  ...    10.0    10.0    10.0    10.0    10.0
       화전동      18.0    18.0  ...    18.0    18.0    18.0    18.0    18.0

                  19      20      21      22      23
월  구   동
01 남구  대명동    2842.0  2842.0  2842.0  2842.0  2842.0
       봉덕동    1229.0  1229.0  1229.0  1229.0  1229.0
       이천동     425.0   425.0   425.0   425.0   425.0
   달서구 갈산동     801.0   801.0   801.0   801.0   801.0
       감삼동     545.0   545.0   545.0   545.0   545.0
...              ...     ...     ...     ...     ...
11 중구  태평로3가   120.0   120.0   120.0   120.0   120.0
       포정동      54.0    54.0    54.0    54.0    54.0
       하서동      14.0    14.0    14.0    14.0    14.0
       향촌동      10.0    10.0    10.0    10.0    10.0
       화전동      18.0    18.0    18.0    18.0    18.0

[2134 rows x 24 columns]

In [32]:
df_moving_time_mean = moving_by_time_sum / moving_by_time_cnt
df_moving_time_mean

                    0         1         2         3         4         5   \
월  구   동
01 남구  대명동    2.025011  1.492009  1.138807  0.886960  0.825820  1.120947
       봉덕동    1.681473  1.200700  0.940122  0.755281  0.725753  0.975346
       이천동    1.707294  1.224918  0.952376  0.739224  0.679718  0.893153
   달서구 갈산동    0.205618  0.145144  0.119251  0.108414  0.127803  0.219039
       감삼동    3.238661  2.347248  1.788239  1.402716  1.306018  1.589817
...                ...       ...       ...       ...       ...       ...
11 중구  태평로3가  0.990667  0.734250  0.572833  0.434000  0.464583  1.110000
       포정동    1.798148  1.245370  0.901111  0.666667  0.876111  2.334815
       하서동    2.645000  1.848571  1.352857  1.043571  1.134286  2.635000
       향촌동    1.112000  0.816000  0.635000  0.487000  0.594000  1.900000
       화전동    2.304444  1.739444  1.386111  0.930556  1.102222  3.528333

                    6          7          8          9   ...         14  \
월  구   동                                                 ...
01 남구  대명동    1.971471   3.406140   6.051904   5.887146  ...   8.333607
       봉덕동    1.643352   2.923865   4.548747   4.574142  ...   6.191880
       이천동    1.485035   2.841929   4.503765   4.855741  ...   6.441435
   달서구 갈산동    0.847303   3.190824   2.576067   1.773221  ...   2.234707
       감삼동    3.400716   6.223138   8.511394   8.257211  ...  12.146661
...                ...        ...        ...        ...  ...        ...
11 중구  태평로3가  2.358417   5.601583   7.793667   6.738083  ...   6.952083
       포정동    6.092222  14.705556  23.117963  20.816481  ...  27.021111
       하서동    6.041429  16.821429  24.995714  21.219286  ...  20.649286
       향촌동    4.991000  12.876000  20.110000  17.253000  ...  20.911000
       화전동    9.328333  20.593889  32.472778  33.820000  ...  38.665556

                     15         16         17         18         19  \
월  구   동
01 남구  대명동     7.187044   7.144219   7.963107   8.430369   6.686070
       봉덕동     5.542742   5.548299   6.158666   6.256664   4.948836
       이천동     5.605059   5.637765   6.187835   6.484447   5.077247
   달서구 갈산동     1.629650   1.536891   1.621798   1.490025   1.021823
       감삼동    10.828000  10.916275  13.146771  14.411578  11.257982
...                 ...        ...        ...        ...        ...
11 중구  태평로3가   7.410000   7.992667   7.879583   7.594833   5.869250
       포정동    23.563148  24.004630  23.570926  24.529444  14.106852
       하서동    20.494286  20.126429  20.937857  21.855000  12.954286
       향촌동    18.043000  18.508000  17.657000  18.616000  11.044000
       화전동    34.991667  34.111111  33.536667  33.221111  21.338333

                     20         21         22        23
월  구   동
01 남구  대명동     5.620299   5.914923   4.031267  3.933276
       봉덕동     4.137396   4.329756   3.109561  2.988625
       이천동     4.219482   4.460094   3.213200  3.109247
   달서구 갈산동     0.845805   0.716667   0.397241  0.391161
       감삼동     9.139394   9.212550   6.221028  6.136734
...                 ...        ...        ...       ...
11 중구  태평로3가   4.579417   4.030417   2.831833  1.820333
       포정동    11.294815   8.930926   6.485556  3.091296
       하서동    10.707857   9.637143   6.693571  4.065714
       향촌동     8.373000   8.048000   6.153000  2.094000
       화전동    15.455000  14.238333  10.047222  4.306667

[2134 rows x 24 columns]

In [33]:
df_moving_time_mean_12 = ((df_moving_time_mean.loc['01'] + df_moving_time_mean.loc['11'])/2)
df_moving_time_mean_12 = df_moving_time_mean_12.reset_index()
df_moving_time_mean_12['월'] = '12'
df_moving_time_mean_12 = df_moving_time_mean_12.groupby(['월', '구', '동']).sum()
df_moving_time_mean_12

                    0         1         2         3         4         5   \
월  구   동
12 남구  대명동    1.861902  1.365008  1.045921  0.816749  0.793933  1.315157
       봉덕동    1.533203  1.101675  0.852529  0.676933  0.666551  1.028030
       이천동    1.831710  1.318233  1.024674  0.809400  0.799436  1.224775
   달서구 갈산동    0.176653  0.123750  0.104379  0.099609  0.126535  0.263902
       감삼동    3.049248  2.175118  1.619864  1.256504  1.171702  1.830781
...                ...       ...       ...       ...       ...       ...
   중구  태평로3가  0.822583  0.625792  0.475583  0.368500  0.370292  0.802333
       포정동    2.152593  1.504167  1.075370  0.807778  0.931389  2.014630
       하서동    2.562500  1.852857  1.333571  1.027500  1.122857  2.103214
       향촌동    1.518000  1.099000  0.806500  0.613500  0.667000  1.662000
       화전동    3.434444  2.533611  1.899167  1.396944  1.480556  3.350833

                    6          7          8          9   ...         14  \
월  구   동                                                 ...
12 남구  대명동    2.420689   5.130121   7.427247   6.930657  ...   8.338985
       봉덕동    1.844599   3.804769   4.996256   4.915873  ...   6.012188
       이천동    2.184953   4.388248   6.004547   6.065969  ...   7.208781
   달서구 갈산동    1.132305   3.567407   2.784923   1.871455  ...   2.020365
       감삼동    4.244393   8.317273  10.048019   9.299341  ...  12.236763
...                ...        ...        ...        ...  ...        ...
   중구  태평로3가  1.739458   3.954542   5.822250   4.974458  ...   5.555458
       포정동    4.852963  11.903333  20.688426  19.091019  ...  27.630556
       하서동    4.682857  12.795000  21.041429  18.366786  ...  21.934643
       향촌동    3.883500   9.934000  17.122000  15.155500  ...  21.235500
       화전동    7.681389  17.286389  30.786944  31.556667  ...  43.708333

                     15         16         17         18         19  \
월  구   동
12 남구  대명동     7.994673   8.289647   9.020944   9.377315   7.136227
       봉덕동     5.878242   6.134217   6.717117   6.706382   5.107059
       이천동     7.080100   7.311875   8.066911   8.163585   6.201264
   달서구 갈산동     1.677297   1.604967   1.677701   1.456004   0.969951
       감삼동    12.143415  12.781899  15.163778  16.181698  12.218877
...                 ...        ...        ...        ...        ...
   중구  태평로3가   5.662833   6.003417   5.966375   5.890583   4.444792
       포정동    23.387130  22.139167  22.094537  22.956944  14.137870
       하서동    19.730000  18.361786  18.486786  19.033214  11.930000
       향촌동    17.639500  16.708000  16.297500  16.801000  10.444000
       화전동    37.798056  34.802222  34.396111  34.491667  22.683611

                     20         21         22        23
월  구   동
12 남구  대명동     6.097840   5.880072   4.143984  3.240540
       봉덕동     4.323010   4.221165   3.086285  2.480098
       이천동     5.254231   5.101279   3.762962  2.944424
   달서구 갈산동     0.791216   0.616965   0.379478  0.307903
       감삼동    10.251923   9.302317   6.527333  5.184473
...                 ...        ...        ...       ...
   중구  태평로3가   3.599042   3.179792   2.215500  1.621167
       포정동    11.010556   9.851574   6.477593  4.261389
       하서동     9.549643   9.238571   6.104643  4.614286
       향촌동     8.038500   7.920000   5.476500  3.141000
       화전동    17.211389  16.512500  10.813056  6.781111

[194 rows x 24 columns]

In [34]:
df_moving_time_mean = pd.concat([df_moving_time_mean, df_moving_time_mean_12])
df_moving_time_mean

                    0         1         2         3         4         5   \
월  구   동
01 남구  대명동    2.025011  1.492009  1.138807  0.886960  0.825820  1.120947
       봉덕동    1.681473  1.200700  0.940122  0.755281  0.725753  0.975346
       이천동    1.707294  1.224918  0.952376  0.739224  0.679718  0.893153
   달서구 갈산동    0.205618  0.145144  0.119251  0.108414  0.127803  0.219039
       감삼동    3.238661  2.347248  1.788239  1.402716  1.306018  1.589817
...                ...       ...       ...       ...       ...       ...
12 중구  태평로3가  0.822583  0.625792  0.475583  0.368500  0.370292  0.802333
       포정동    2.152593  1.504167  1.075370  0.807778  0.931389  2.014630
       하서동    2.562500  1.852857  1.333571  1.027500  1.122857  2.103214
       향촌동    1.518000  1.099000  0.806500  0.613500  0.667000  1.662000
       화전동    3.434444  2.533611  1.899167  1.396944  1.480556  3.350833

                    6          7          8          9   ...         14  \
월  구   동                                                 ...
01 남구  대명동    1.971471   3.406140   6.051904   5.887146  ...   8.333607
       봉덕동    1.643352   2.923865   4.548747   4.574142  ...   6.191880
       이천동    1.485035   2.841929   4.503765   4.855741  ...   6.441435
   달서구 갈산동    0.847303   3.190824   2.576067   1.773221  ...   2.234707
       감삼동    3.400716   6.223138   8.511394   8.257211  ...  12.146661
...                ...        ...        ...        ...  ...        ...
12 중구  태평로3가  1.739458   3.954542   5.822250   4.974458  ...   5.555458
       포정동    4.852963  11.903333  20.688426  19.091019  ...  27.630556
       하서동    4.682857  12.795000  21.041429  18.366786  ...  21.934643
       향촌동    3.883500   9.934000  17.122000  15.155500  ...  21.235500
       화전동    7.681389  17.286389  30.786944  31.556667  ...  43.708333

                     15         16         17         18         19  \
월  구   동
01 남구  대명동     7.187044   7.144219   7.963107   8.430369   6.686070
       봉덕동     5.542742   5.548299   6.158666   6.256664   4.948836
       이천동     5.605059   5.637765   6.187835   6.484447   5.077247
   달서구 갈산동     1.629650   1.536891   1.621798   1.490025   1.021823
       감삼동    10.828000  10.916275  13.146771  14.411578  11.257982
...                 ...        ...        ...        ...        ...
12 중구  태평로3가   5.662833   6.003417   5.966375   5.890583   4.444792
       포정동    23.387130  22.139167  22.094537  22.956944  14.137870
       하서동    19.730000  18.361786  18.486786  19.033214  11.930000
       향촌동    17.639500  16.708000  16.297500  16.801000  10.444000
       화전동    37.798056  34.802222  34.396111  34.491667  22.683611

                     20         21         22        23
월  구   동
01 남구  대명동     5.620299   5.914923   4.031267  3.933276
       봉덕동     4.137396   4.329756   3.109561  2.988625
       이천동     4.219482   4.460094   3.213200  3.109247
   달서구 갈산동     0.845805   0.716667   0.397241  0.391161
       감삼동     9.139394   9.212550   6.221028  6.136734
...                 ...        ...        ...       ...
12 중구  태평로3가   3.599042   3.179792   2.215500  1.621167
       포정동    11.010556   9.851574   6.477593  4.261389
       하서동     9.549643   9.238571   6.104643  4.614286
       향촌동     8.038500   7.920000   5.476500  3.141000
       화전동    17.211389  16.512500  10.813056  6.781111

[2328 rows x 24 columns]

In [35]:
df_moving['time'] = df_moving_time_mean
df_moving['time']

                    0         1         2         3         4         5   \
월  구   동
01 남구  대명동    2.025011  1.492009  1.138807  0.886960  0.825820  1.120947
       봉덕동    1.681473  1.200700  0.940122  0.755281  0.725753  0.975346
       이천동    1.707294  1.224918  0.952376  0.739224  0.679718  0.893153
   달서구 갈산동    0.205618  0.145144  0.119251  0.108414  0.127803  0.219039
       감삼동    3.238661  2.347248  1.788239  1.402716  1.306018  1.589817
...                ...       ...       ...       ...       ...       ...
12 중구  태평로3가  0.822583  0.625792  0.475583  0.368500  0.370292  0.802333
       포정동    2.152593  1.504167  1.075370  0.807778  0.931389  2.014630
       하서동    2.562500  1.852857  1.333571  1.027500  1.122857  2.103214
       향촌동    1.518000  1.099000  0.806500  0.613500  0.667000  1.662000
       화전동    3.434444  2.533611  1.899167  1.396944  1.480556  3.350833

                    6          7          8          9   ...         14  \
월  구   동                                                 ...
01 남구  대명동    1.971471   3.406140   6.051904   5.887146  ...   8.333607
       봉덕동    1.643352   2.923865   4.548747   4.574142  ...   6.191880
       이천동    1.485035   2.841929   4.503765   4.855741  ...   6.441435
   달서구 갈산동    0.847303   3.190824   2.576067   1.773221  ...   2.234707
       감삼동    3.400716   6.223138   8.511394   8.257211  ...  12.146661
...                ...        ...        ...        ...  ...        ...
12 중구  태평로3가  1.739458   3.954542   5.822250   4.974458  ...   5.555458
       포정동    4.852963  11.903333  20.688426  19.091019  ...  27.630556
       하서동    4.682857  12.795000  21.041429  18.366786  ...  21.934643
       향촌동    3.883500   9.934000  17.122000  15.155500  ...  21.235500
       화전동    7.681389  17.286389  30.786944  31.556667  ...  43.708333

                     15         16         17         18         19  \
월  구   동
01 남구  대명동     7.187044   7.144219   7.963107   8.430369   6.686070
       봉덕동     5.542742   5.548299   6.158666   6.256664   4.948836
       이천동     5.605059   5.637765   6.187835   6.484447   5.077247
   달서구 갈산동     1.629650   1.536891   1.621798   1.490025   1.021823
       감삼동    10.828000  10.916275  13.146771  14.411578  11.257982
...                 ...        ...        ...        ...        ...
12 중구  태평로3가   5.662833   6.003417   5.966375   5.890583   4.444792
       포정동    23.387130  22.139167  22.094537  22.956944  14.137870
       하서동    19.730000  18.361786  18.486786  19.033214  11.930000
       향촌동    17.639500  16.708000  16.297500  16.801000  10.444000
       화전동    37.798056  34.802222  34.396111  34.491667  22.683611

                     20         21         22        23
월  구   동
01 남구  대명동     5.620299   5.914923   4.031267  3.933276
       봉덕동     4.137396   4.329756   3.109561  2.988625
       이천동     4.219482   4.460094   3.213200  3.109247
   달서구 갈산동     0.845805   0.716667   0.397241  0.391161
       감삼동     9.139394   9.212550   6.221028  6.136734
...                 ...        ...        ...       ...
12 중구  태평로3가   3.599042   3.179792   2.215500  1.621167
       포정동    11.010556   9.851574   6.477593  4.261389
       하서동     9.549643   9.238571   6.104643  4.614286
       향촌동     8.038500   7.920000   5.476500  3.141000
       화전동    17.211389  16.512500  10.813056  6.781111

[2328 rows x 24 columns]

# 동의 면적별 비율 구하기
- 기존 데이터 / 면적

In [36]:
area_size = pd.read_csv('../../main/data/origin/additionals/jiri_dong_area_size.csv', index_col=0)
area_size

    dong_nm                                           geometry          area
0     동인동1가  POLYGON ((1099906.2690911961 1764700.534162934...  1.816472e+05
1     동인동2가  POLYGON ((1099361.708782717 1764418.396578179,...  2.042182e+05
2     동인동3가  POLYGON ((1100221.3470132628 1764840.322008588...  3.388875e+05
3     동인동4가  POLYGON ((1100597.1235927364 1764210.862818123...  2.686843e+05
4     삼덕동1가  POLYGON ((1098895.4475602645 1764086.792736463...  1.141811e+05
..      ...                                                ...           ...
207     부계면  POLYGON ((1105127.967168622 1792638.1198806122...  6.476271e+07
208     우보면  POLYGON ((1104481.108928394 1803197.882895085,...  6.037414e+07
209     의흥면  POLYGON ((1113090.97321608 1801365.6811859773,...  5.453440e+07
210     산성면  POLYGON ((1109794.169243845 1795517.5269560004...  3.696947e+07
211   삼국유사면  POLYGON ((1119232.3451418085 1803155.739675839...  1.146503e+08

[212 rows x 3 columns]

In [37]:
def calc_mildo_by_area(row: pd.Series):
  row = {**row}
  area = area_size.loc[area_size.iloc[:,0] == row['동']]['area'].iloc[0]
  for k,v in row.items():
    if type(v) == float:
      row[k] = row[k]/area
  return pd.Series(row)

for k,v in df_moving.items():
  df_moving[k] = v.reset_index().apply(
    lambda row: calc_mildo_by_area(row),
    axis=1
  )

In [38]:
df_moving['days']

,월,구,동,월요일,화요일,수요일,목요일,금요일,토요일,일요일
0,01,남구,대명동,0.000012,0.000012,0.000013,0.000012,0.000012,0.000012,0.000010
1,01,남구,봉덕동,0.000014,0.000014,0.000015,0.000014,0.000014,0.000014,0.000012
2,01,남구,이천동,0.000089,0.000088,0.000094,0.000092,0.000088,0.000087,0.000072
3,01,달서구,갈산동,0.000016,0.000017,0.000018,0.000017,0.000014,0.000009,0.000005
4,01,달서구,감삼동,0.000136,0.000133,0.000144,0.000143,0.000137,0.000142,0.000116
...,...,...,...,...,...,...,...,...,...,...
2323,12,중구,태평로3가,0.000673,0.000651,0.000668,0.000664,0.000725,0.000755,0.000573
2324,12,중구,포정동,0.006228,0.006091,0.006247,0.006232,0.006349,0.006658,0.005357
2325,12,중구,하서동,0.031615,0.031646,0.032469,0.032560,0.032138,0.024608,0.017912
2326,12,중구,향촌동,0.011771,0.011540,0.011812,0.011791,0.012015,0.011604,0.009604
2327,12,중구,화전동,0.029750,0.029052,0.029809,0.029890,0.030410,0.033294,0.026690

In [39]:
df_moving['time']

,월,구,동,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
0,01,남구,대명동,1.987250e-07,1.464187e-07,1.117572e-07,8.704206e-08,8.104207e-08,1.100044e-07,1.934708e-07,...,8.178209e-07,7.053026e-07,7.011000e-07,7.814618e-07,8.273167e-07,6.561394e-07,5.515497e-07,5.804626e-07,3.956095e-07,3.859932e-07
1,01,남구,봉덕동,2.597516e-07,1.854825e-07,1.452288e-07,1.166747e-07,1.121133e-07,1.506701e-07,2.538628e-07,...,9.565131e-07,8.562352e-07,8.570937e-07,9.513823e-07,9.665209e-07,7.644895e-07,6.391393e-07,6.688548e-07,4.803607e-07,4.616787e-07
2,01,남구,이천동,1.597687e-06,1.146279e-06,8.912343e-07,6.917657e-07,6.360801e-07,8.358129e-07,1.389697e-06,...,6.027898e-06,5.245217e-06,5.275823e-06,5.790579e-06,6.068149e-06,4.751290e-06,3.948594e-06,4.173758e-06,3.006914e-06,2.909635e-06
3,01,달서구,갈산동,9.917533e-08,7.000682e-08,5.751808e-08,5.229135e-08,6.164286e-08,1.056485e-07,4.086782e-07,...,1.077862e-06,7.860262e-07,7.412859e-07,7.822386e-07,7.186809e-07,4.928538e-07,4.079556e-07,3.456685e-07,1.916005e-07,1.886680e-07
4,01,달서구,감삼동,2.393585e-06,1.734772e-06,1.321627e-06,1.036700e-06,9.652341e-07,1.174980e-06,2.513354e-06,...,8.977187e-06,8.002610e-06,8.067851e-06,9.716335e-06,1.065111e-05,8.320395e-06,6.754618e-06,6.808685e-06,4.597752e-06,4.535453e-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2323,12,중구,태평로3가,6.479252e-06,4.929180e-06,3.746033e-06,2.902568e-06,2.916681e-06,6.319748e-06,1.370121e-05,...,4.375874e-05,4.460450e-05,4.728718e-05,4.699541e-05,4.639843e-05,3.501034e-05,2.834861e-05,2.504630e-05,1.745085e-05,1.276946e-05
2324,12,중구,포정동,4.096839e-05,2.862747e-05,2.046657e-05,1.537372e-05,1.772630e-05,3.834266e-05,9.236214e-05,...,5.258679e-04,4.451065e-04,4.213551e-04,4.205057e-04,4.369192e-04,2.690736e-04,2.095541e-04,1.874963e-04,1.232823e-04,8.110324e-05
2325,12,중구,하서동,2.603063e-04,1.882187e-04,1.354681e-04,1.043765e-04,1.140631e-04,2.136507e-04,4.756985e-04,...,2.228186e-03,2.004232e-03,1.865244e-03,1.877942e-03,1.933450e-03,1.211885e-03,9.700809e-04,9.384814e-04,6.201277e-04,4.687328e-04
2326,12,중구,향촌동,7.014125e-05,5.078079e-05,3.726543e-05,2.834760e-05,3.081964e-05,7.679497e-05,1.794424e-04,...,9.812151e-04,8.150571e-04,7.720158e-04,7.530481e-04,7.763130e-04,4.825792e-04,3.714298e-04,3.659544e-04,2.530491e-04,1.451342e-04
2327,12,중구,화전동,2.013407e-04,1.485303e-04,1.113366e-04,8.189438e-05,8.679600e-05,1.964390e-04,4.503133e-04,...,2.562355e-03,2.215871e-03,2.040243e-03,2.016435e-03,2.022037e-03,1.329803e-03,1.008999e-03,9.680278e-04,6.339039e-04,3.975354e-04

# 저장
- moving_pop_by_days.csv
- moving_pop_by_age.csv
- moving_pop_by_time.csv

In [40]:
for k,v in df_moving.items():
  v.to_csv(f'../../main/data/origin/additionals/moving_pop_by_{k}.csv')